@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
.navi {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
}

.name {
  font-size: 80px;
}

.fw-600 {
  font-weight: 600;
}
.App {
  overflow-x: hidden;
  /* background-color: #000 !important; */
}
.icon {
  font-size: 50px !important;
}

a {
  text-decoration: none;
  color: inherit !important;
}

.insta {
  color: #f09433;
}
.exp {
  font-size: 50px;
  font-family: "Jost", sans-serif;
}
/* 
.com {
  width: 100px !important;
  /*media- kammi pananum, email and name ah yum kammi panu da*/
/* } */
*/ .cardy {
  object-fit: fill !important;
}

.navib {
  z-index: 3;
}
.view {
  height: 100vh;
}

@media only screen and (max-device-width: 576px) {
  .img1 {
    width: 250px;
    height: 250px;
  }
  .name {
    font-size: 60px;
  }
  .view {
    height: 100%;
  }
}

::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

a {
  text-decoration: none !important;
}
